@use '../../styles/vars' as vars;
@use '../../styles/mixins' as mixins;
@import '../upload-one-file-to-S3/index.module.scss';

.field {
  .uploads {
    .upload {
      & + .upload {
        margin-top: 3px;
      }

      .delete {
        padding: 5px;
        margin-bottom: -5px;
        margin-top: -5px;
        vertical-align: -2px;
        line-height: 0;
        background: none;
        border: none;
        cursor: pointer;

        .deleteIcon {
          color: vars.$red;
        }
      }
    }
  }
}
