@use '../../../styles/vars' as vars;
@use '../../../styles/mixins' as mixins;

.text {
  font-size: 14px;
}

.createdAt {
  font-size: 12px;
  margin-bottom: 10px;
}

.author {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

.likes {
  margin-top: 20px;

  .likeButton {
    @include mixins.link;
  }
}

.editButton {
  margin-top: 20px;
}

.blockIdea {
  margin-top: 20px;
}
