$white: #ffffff;
$black: #000000;
$blue: #00c;
$red: #c00;
$green: #28792d;
$gray: #ccc;

$defaultFontFamily: 'Helvetica', 'Arial', sans-serif;
$defaultFontSize: 14px;
$defaultBackgroundColor: rgb(235, 145, 235);
$defaultTextColor: $green;
$defaultLineHeight: 1.2;
$borderRadiusSmall: 3px;
